:root {
  --main-white: #ffffff;
  --dark-green: #307466;
  --light-green: #378867;
  --nav-green: #5ba185;
  --text-color: #384741;
}

body {
  font-family: "Rubik";
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 48%,
    rgba(186, 231, 212, 1) 50%
  );
  color: var(--text-color);
  margin-top: 55px;
}

.nav-ellipse {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  border: 6px solid var(--nav-green);
}

.nav-ellipse:hover {
  border: 6px solid var(--nav-green);
  background-color: var(--nav-green);
  cursor: pointer;
}

.side-text {
  text-align: right;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.05em;
}

.instagram {
  font-size: 16px;
}

.mail {
  color: var(--text-color);
  text-decoration: none;
}

.mail:hover {
  text-decoration: underline;
}
