:root {
  --main-white: #ffffff;
  --dark-green: #307466;
  --light-green: #378867;
  --nav-green: #5ba185;
  --text-color: #384741;
}

body {
  font-family: "Rubik";
  background: var(--main-white);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 48%,
    rgba(186, 231, 212, 1) 50%
  );
  color: var(--text-color);
  margin-top: 55px;
}

.nav-ellipse {
  width: 36px;
  height: 36px;
  border: 6px solid var(--nav-green);
  border-radius: 100%;
}

.nav-ellipse:hover {
  border: 6px solid var(--nav-green);
  background-color: var(--nav-green);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

button[aria-expanded="true"] {
  width: 36px;
  height: 18px;
  border: 6px solid var(--nav-green);
  border-radius: 12rem 12rem 0 0;
  background-color: var(--nav-green);
  transform: rotate(-90deg);
}

button[aria-expanded="true"]:hover {
  width: 36px;
  height: 18px;
  border: 6px solid var(--nav-green);
  border-radius: 12rem 12rem 0 0;
  background-color: var(--nav-green);
  transform: rotate(-90deg);
}

.navbar {
  flex-wrap: nowrap;
}

.nav-link {
  color: var(--text-color);
  margin-left: 48px;
  font-size: 12px;
}

.active {
  font-weight: bold;
}

.side-text {
  text-align: right;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.05em;
}

.right-column-text {
  margin-top: 7px;
}

.instagram {
  font-size: 16px;
}

.mail {
  color: var(--text-color);
  text-decoration: none;
}

.mail:hover {
  text-decoration: underline;
  transition: all 200ms ease-in-out;
}

.ellipse {
  margin-left: 15%;
  margin-right: 10%;
  margin-top: 4%;
  width: 750px;
  height: 750px;
  background: radial-gradient(
    77.51% 77.51% at 89.3% 39.23%,
    var(--dark-green) 0%,
    var(--light-green) 100%
  );
  filter: blur(50px);
  transform: rotate(-144.12deg);
  border-radius: 100%;
}
