:root {
  --main-white: #ffffff;
  --dark-green: #307466;
  --light-green: #378867;
  --nav-green: #5ba185;
  --text-color: #384741;
}

html {
  scroll-padding-top: 115px;
}

body {
  font-family: "Rubik";
  background-color: var(--main-white);
  color: var(--text-color);
  overflow-x: hidden;
}

.nav-ellipse {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  border: 6px solid var(--nav-green);
  margin-left: 60px;
  margin-top: -20px;
}

.nav-ellipse:hover {
  border: 6px solid var(--nav-green);
  background-color: var(--nav-green);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

button[aria-expanded="true"] {
  width: 36px;
  height: 18px;
  border: 6px solid var(--nav-green);
  border-radius: 12rem 12rem 0 0;
  background-color: var(--nav-green);
  transform: rotate(-90deg);
  margin-top: -20px;
}

button[aria-expanded="true"]:hover {
  width: 36px;
  height: 18px;
  border: 6px solid var(--nav-green);
  border-radius: 12rem 12rem 0 0;
  background-color: var(--nav-green);
  transform: rotate(-90deg);
}

.navbar {
  flex-wrap: nowrap;
}

.nav-link {
  color: var(--text-color);
  margin-left: 48px;
  font-size: 12px;
  margin-top: -12px;
}

.active {
  font-weight: bold;
}

.right-column-text {
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 0.05em;
  background-color: var(--main-white);
  padding-left: 60px;
  padding-bottom: 20px;
  margin-top: -20px;
  z-index: 1;
}

.sticky-top {
  background-color: var(--main-white);
  padding-top: 55px;
  padding-bottom: 25px;
  margin-left: -90px;
  margin-right: -90px;
  max-height: 120px;
}

.list-group-item-action {
  color: var(--text-color);
  text-decoration: none;
}

.list-group-item-action:hover {
  text-decoration: solid underline 2px var(--nav-green);
  transition: all 200ms ease-in-out;
}

img {
  max-width: 120%;
  height: 100%;
  z-index: -1;
}

.left-photo {
  margin-left: -85px;
  margin-right: 30px;
}

.right-photo {
  margin-left: 50px;
}

.smaller {
  width: 125%;
}

/* !!! ADAPTIVE !!! */
@media (max-width: 1030px) {
  .nav-ellipse {
    margin-left: 100px;
  }

  .sticky-top {
    margin-left: -100px;
    margin-right: -100px;
  }

  img {
    max-width: 123%;
  }
}

@media (max-width: 780px) {
  img {
    max-width: 129%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 9%;
  }

  .nav-ellipse {
    margin-left: 130px;
  }

  .right-column-text {
    font-size: 14px;
    line-height: 35px;
    padding-left: 36px;
    padding-right: 0px;
  }

  .sticky-top {
    margin-left: -128px;
    margin-right: -128px;
  }

  .left-photo {
    margin-left: -70px;
    margin-right: 70px;
  }

  .right-photo {
    margin-left: 0px;
    margin-right: 0px;
  }

  .smaller {
    width: 134%;
  }
}

@media (max-width: 500px) {
  img {
    max-width: 106%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 9%;
    padding-top: 0px;
  }
  /*
  #personal {
    margin-right: -50px;
  }
*/
  .nav-ellipse {
    margin-left: 10px;
  }

  .nav-link {
    margin-left: 28px;
    margin-top: -15px;
    font-size: 14px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .right-column-text {
    font-size: 12px;
    line-height: 25px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .sticky-top {
    margin-left: -13px;
    margin-right: -10px;
    max-width: 108%;
  }

  .left-photo {
    margin-left: -50px;
    margin-right: 0px;
  }

  .right-photo {
    margin-left: -50px;
    margin-right: 0px;
  }

  .smaller {
    width: 135%;
  }
}

@media (max-width: 400px) {
  img {
    max-width: 136%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 9%;
    padding-top: 0px;
  }

  .nav-ellipse {
    margin-left: 115px;
  }

  .nav-link {
    margin-left: 28px;
    margin-top: -12px;
    font-size: 14px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .right-column-text {
    font-size: 14px;
    line-height: 34px;
    padding-left: 46px;
    padding-right: 40px;
  }

  .sticky-top {
    margin-left: -100px;
    margin-right: -110px;
  }

  .left-photo {
    margin-left: -48px;
    margin-right: 0px;
  }

  .right-photo {
    margin-left: -48px;
    margin-right: 0px;
  }

  .smaller {
    width: 140%;
  }
}

@media (max-width: 340px) {
  img {
    max-width: 141%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 9%;
    padding-top: 0px;
  }

  .nav-ellipse {
    margin-left: 110px;
  }

  .nav-link {
    margin-left: 28px;
    margin-top: -12px;
    font-size: 12px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .right-column-text {
    font-size: 14px;
    line-height: 34px;
    padding-left: 35px;
    padding-right: 40px;
  }

  .sticky-top {
    margin-left: -100px;
    margin-right: -110px;
  }

  .left-photo {
    margin-left: -40px;
    margin-right: 0px;
  }

  .right-photo {
    margin-left: -40px;
    margin-right: 0px;
  }

  .smaller {
    width: 145%;
  }
}
