:root {
  --main-white: #ffffff;
  --dark-green: #307466;
  --light-green: #378867;
  --nav-green: #5ba185;
  --text-color: #384741;
}

body {
  font-family: "Rubik";
  background-color: var(--main-white);
  color: var(--text-color);
  margin-top: 35px;
  overflow-x: hidden;
}

.nav-ellipse {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  border: 6px solid var(--nav-green);
}

.nav-ellipse:hover {
  border: 6px solid var(--nav-green);
  background-color: var(--nav-green);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.navbar {
  flex-wrap: nowrap;
}

.nav-link {
  color: var(--text-color);
  margin-left: 48px;
  font-size: 12px;
}

.active {
  font-weight: bold;
}

.right-column-text {
  font-size: 10px;
  line-height: 24px;
  letter-spacing: 0.05em;
  background-color: var(--main-white);
}

.sticky-top {
  background-color: var(--main-white);
}

img {
  width: 120%;
  height: 100%;
}

.left-photo {
  margin-left: -80px;
}

.right-photo {
  margin-left: 50px;
}
