:root {
  --first-color: #ffffff;
  --second-color: #307466;
  --third-color: #378867;
}

body {
  background-color: var(--first-color);
  font-family: "Rubik";
  margin-top: 40px;
  color: var(--first-color);
}

a {
  text-decoration: none;
  color: var(--first-color);
}
a:hover {
  font-weight: bold;
}

a:visited {
  text-decoration: none;
  color: var(--first-color);
}

.ellipse {
  display: block;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 475px;
  height: 475px;
  background: radial-gradient(
    77.51% 77.51% at 89.3% 39.23%,
    var(--second-color) 0%,
    var(--third-color) 100%
  );
  filter: blur(50px);
  transform: rotate(-144.12deg);
  border-radius: 100%;
}

.portfolio-link,
.contacts-link {
  position: relative;
  font-weight: 300;
  font-size: 11px;
  line-height: 24px;
  letter-spacing: 0.05em;
  left: 610px;
}

.portfolio-link-underline,
.contacts-link-underline {
  width: 67px;
  height: 0.5px;
}

.underline {
  position: relative;
  background-color: var(--first-color);
  border: transparent;
}

.portfolio-link {
  bottom: 290px;
}

.portfolio-link-underline {
  bottom: 300px;
}

.contacts-link {
  bottom: 300px;
}

.contacts-link-underline {
  bottom: 310px;
}

.tanya-shevchuk {
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: relative;
  padding: 5px;
  width: 320px;
  height: 178px;
  left: 620px;
  right: 403px;
  bottom: 300px;
}

.tanya-underline {
  position: relative;
  bottom: 390px;
  left: 130px;
  width: 253px;
  height: 1.5px;
}
