:root {
  --main-white: #ffffff;
  --dark-green: #307466;
  --light-green: #378867;
}

body {
  background-color: var(--main-white);
  font-family: "Rubik";
  margin-top: 40px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

a:hover {
  font-weight: bold;
  transition: all 200ms ease-in-out;
}

a:visited {
  text-decoration: none;
  color: var(--main-white);
}

.ellipse {
  position: absolute;
  margin-left: 31%;
  margin-right: 10%;
  width: 475px;
  height: 475px;
  background: radial-gradient(
    77.51% 77.51% at 89.3% 39.23%,
    var(--dark-green) 0%,
    var(--light-green) 100%
  );
  filter: blur(50px);
  transform: rotate(-144.12deg);
  border-radius: 100%;
  z-index: -1;
}

.page-links {
  display: flex;
  flex-direction: column;
}

.portfolio-link,
.contacts-link {
  font-weight: lighter;
  font-size: 11px;
  line-height: 24px;
  letter-spacing: 0.05em;
  margin-left: 570px;
  display: inline-block;
  border-bottom: 1px solid var(--main-white);
  width: 80px;
  text-align: right;
}

.portfolio-link {
  margin-top: 180px;
}

.anastasiia-kuznetsova {
  font-weight: 400;
  font-size: 41px;
  font-style: normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 5px;
  width: 320px;
  height: 178px;
  color: var(--main-white);
  margin-top: 20px;
  margin-left: 600px;
  z-index: 1;
}

.insta-anastasiia:hover {
  font-weight: lighter;
  transition: all 200ms ease-in-out;
}

.green-uk {
  background: linear-gradient(271.59deg, #44a47d 56.96%, #ffffff 90.45%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.anastasiia-underline {
  margin-left: 607px;
  margin-top: -70px;
  width: 300px;
  height: 1.5px;
  background-color: var(--main-white);
  border: transparent;
}

/* !!! ADAPTIVE !!! */
@media (max-width: 905px) {
  .ellipse {
    width: 510px;
    height: 510px;
    margin-left: 19%;
    margin-top: 15%;
  }

  .portfolio-link,
  .contacts-link {
    margin-left: 290px;
    font-size: 20px;
    line-height: 35px;
    width: 115px;
  }

  .portfolio-link {
    margin-top: 300px;
  }

  .anastasiia-kuznetsova {
    margin-left: 42%;
    font-size: 50px;
  }

  .anastasiia-underline {
    margin-left: 42.8%;
    width: 370px;
    margin-top: -50px;
  }
}

@media (max-width: 500px) {
  .ellipse {
    width: 290px;
    height: 290px;
    margin-left: 16%;
    margin-top: 45%;
  }

  .portfolio-link,
  .contacts-link {
    margin-left: 130px;
    font-size: 15px;
    line-height: 28px;
    width: 85px;
  }

  .portfolio-link {
    margin-top: 270px;
  }

  .anastasiia-kuznetsova {
    margin-left: 40%;
    font-size: 28px;
  }

  .anastasiia-underline {
    margin-left: 40.8%;
    width: 220px;
    margin-top: -105px;
  }
}

@media (max-width: 400px) {
  .ellipse {
    width: 260px;
    height: 260px;
    margin-left: 16%;
    margin-top: 45%;
  }

  .portfolio-link,
  .contacts-link {
    margin-left: 120px;
    font-size: 13px;
    line-height: 24px;
    width: 80px;
  }

  .portfolio-link {
    margin-top: 230px;
  }

  .anastasiia-kuznetsova {
    margin-left: 40%;
    font-size: 25px;
  }

  .anastasiia-underline {
    margin-left: 40.8%;
    width: 195px;
    margin-top: -110px;
  }
}

@media (max-width: 330px) {
  .ellipse {
    width: 210px;
    height: 210px;
    margin-left: 16%;
    margin-top: 45%;
  }

  .portfolio-link,
  .contacts-link {
    margin-left: 95px;
    font-size: 12px;
    line-height: 20px;
    width: 80px;
  }

  .portfolio-link {
    margin-top: 195px;
  }

  .anastasiia-kuznetsova {
    margin-left: 37%;
    margin-top: 15px;
    font-size: 24.2px;
  }

  .anastasiia-underline {
    margin-left: 37.8%;
    width: 180px;
    margin-top: -110px;
  }
}
