:root {
  --main-white: #ffffff;
  --dark-green: #307466;
  --light-green: #378867;
}

body {
  background-color: var(--main-white);
  font-family: "Rubik";
  margin-top: 40px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

a:hover {
  font-weight: bold;
  transition: all 200ms ease-in-out;
}

a:visited {
  text-decoration: none;
  color: var(--main-white);
}

.ellipse {
  position: absolute;
  margin-left: 31%;
  margin-right: 10%;
  width: 475px;
  height: 475px;
  background: radial-gradient(
    77.51% 77.51% at 89.3% 39.23%,
    var(--dark-green) 0%,
    var(--light-green) 100%
  );
  filter: blur(50px);
  transform: rotate(-144.12deg);
  border-radius: 100%;
  z-index: -1;
}

.page-links {
  display: flex;
  flex-direction: column;
}

.portfolio-link,
.contacts-link {
  font-weight: lighter;
  font-size: 11px;
  line-height: 24px;
  letter-spacing: 0.05em;
  margin-left: 570px;
  display: inline-block;
  border-bottom: 1px solid var(--main-white);
  width: 80px;
  text-align: right;
}

.portfolio-link {
  margin-top: 180px;
}

.tanya-shevchuk {
  font-weight: 400;
  font-size: 41px;
  font-style: normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 5px;
  width: 320px;
  height: 178px;
  color: var(--main-white);
  margin-top: 20px;
  margin-left: 600px;
  z-index: 1;
}

.green-uk {
  background: linear-gradient(271.59deg, #44a47d 26.96%, #ffffff 90.45%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.tanya-underline {
  margin-left: 607px;
  margin-top: -70px;
  width: 253px;
  height: 1.5px;
  background-color: var(--main-white);
  border: transparent;
}

/* !!! responsive !!! */
@media (max-width: 1194px) {
  .portfolio-link,
  .contacts-link {
    margin-left: 540px;
  }

  .tanya-shevchuk {
    margin-left: 49.5%;
  }

  .tanya-underline {
    margin-left: 50%;
    width: 265px;
  }
}

@media (max-width: 1150px) {
  .portfolio-link,
  .contacts-link {
    margin-left: 530px;
  }

  .tanya-shevchuk {
    margin-left: 50%;
  }

  .tanya-underline {
    margin-left: 50%;
    width: 265px;
  }
}

@media (max-width: 1094px) {
  .portfolio-link,
  .contacts-link {
    margin-left: 500px;
  }

  .tanya-shevchuk {
    margin-left: 50%;
  }

  .tanya-underline {
    margin-left: 50%;
    width: 265px;
  }
}

@media (max-width: 1054px) {
  .portfolio-link,
  .contacts-link {
    margin-left: 500px;
  }

  .tanya-shevchuk {
    margin-left: 52.5%;
  }

  .tanya-underline {
    margin-left: 53%;
    width: 265px;
  }
}
